:root{
    --alt-text-color: green;
}

#task-board{      
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 1fr;
    gap: 8px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.task-card{
    background-color: gray;
    max-height: 200px;

    display: flex;
    justify-content: space-between;
}

#sidebar{
    min-width: 250px;
    grid-row-start: 2;
}

#main{
    width: 100vw;
    height: 100vh;
}

#container{
    width: 100vw;
    height: 100vh;
      
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

#header{
    display: flex;
    grid-column: 1/-1;

    justify-content: center;
}

.header-text{
    display: flex;
}

.header-text>p:nth-child(2){
    color: var(--alt-text-color);
}

#task-board{
    grid-row-start: 2;
}