:root{
    font-family: 'Open Sans',sans-serif;
    --alt-color: #6c584c;
    background-color: #f0ead2;
}

.hidden{
    display: none;
}

#task-board{      
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 1fr;

    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 50px;
}

.task-card{
    background-color: #ddb892;
    border: 3px solid var(--alt-color);
    max-height: 250px;
    min-height: 180px;
    margin-top: 10px;
    border-radius: 4rem;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}

h2{
    width: auto;
    text-decoration: underline;
    text-decoration-color: var(--alt-color);
    text-decoration-style: wavy;
    border-radius: 99rem;
}

#sidebar{
    min-width: 210px;
    grid-row-start: 2;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #e6ccb2;
    border-right: 3px solid var(--alt-color);
}

#main{
    width: 100vw;
    height: 100vh;
}

#container{
    width: 100vw;
    height: 100vh;
      
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    gap: 0px;
}

#header{
    display: flex;
    grid-column: 1/-1;
    justify-content: center;

    border-bottom: 3px solid var(--alt-color);
    border-radius: .5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-text{
    display: flex;
    font-size: 4rem;
}

.header-text>p:nth-child(2){
    color: var(--alt-color);
}

#task-board{
    grid-row-start: 2;
}